body{
	background-color: #CEF6CE;
	 
  }

  #pagina{
  	width: 50%;
  	margin: 0px auto;
  }
  ul{
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	background-color: #000000;
  	height: 50px;
  	line-height: 50px;
  	text-align: center;
  }
  li{
  	display: inline;
  }
  a{
  	display: inline;
  	width: 120px;
  	text-decoration: none;
  	background-color: #E6E0F8;
  	padding: 10px;
  }



    